; title       = Umbrella pulling simulation
;define      = -DMY_POSRES
; Run parameters
integrator  = md
dt          = 0.002

;***
tinit       = 0

nsteps      = 25000000    ; 50 ns

;***
nstcomm     = 10 ;COM motion removal???

; Output parameters ***
nstxtcout = 250000
nstlog = 250000
nstxout = 0
nstvout = 0
nstfout = 0
nstcalcenergy = 100
nstenergy = 0

; Bond parameters
constraint_algorithm    = lincs
constraints             = all-bonds
continuation            = yes       ; continuing from NPT
; Single-range cutoff scheme
cutoff-scheme   = Verlet

;***
nstlist         = 20    ; Number of STeps between updating neighbour list
;ns_type         = grid  ; Not in documentation
rlist           = 1.4   ; Cut off distance for short range neighbour list

rcoulomb        = 1.4;** Distance for coulmb cut off
rvdw            = 1.4;** Distance for the LJ or Buckingham cut-off

; PME electrostatics parameters
coulombtype     = PME
;***
fourierspacing  = 0.12
fourier_nx      = 0
fourier_ny      = 0
fourier_nz      = 0
pme_order       = 4
ewald_rtol      = 1e-5
optimize_fft    = yes  ; Not in documentation
; Seem to be default values

; Berendsen temperature coupling is on in two groups
Tcoupl      = Nose-Hoover ;
tc_grps     = Protein   Non-Protein
tau_t       = 1.0       1.0
ref_t       = 310       310
; Pressure coupling is no longer on
; Pcoupl          = Parrinello-Rahman

;***
; pcoupltype      = isotropic  ; Pressure coupling isotropy

; tau_p           = 1.0;**
; compressibility = 4.5e-5
; ref_p           = 1.0

;***
refcoord_scaling = com
; Generate velocities is off
gen_vel     = no
; Periodic boundary conditions are on in all directions
pbc     = xyz
; Long-range dispersion correction
DispCorr    = EnerPres
