; title       = Umbrella pulling simulation
;define      = -DMY_POSRES
; Run parameters
integrator  = md
dt          = 0.002

;***
tinit       = 0

nsteps      = 250000    ; 500 ps

;***
nstcomm     = 10 ;COM motion removal???

; Output parameters ***
nstxout     = 5000      ; every 10 ps Number of STeps between writing coordinates
nstvout     = 5000      ; Number of STeps between writing velocities
nstfout     = 500       ; Number of STeps between writing forces
nstxtcout   = 500       ; every 1 ps ** not in documentation
nstenergy   = 500       ; Number of STeps between writing energies

; Bond parameters
constraint_algorithm    = lincs
constraints             = all-bonds
continuation            = yes       ; continuing from NPT
; Single-range cutoff scheme
cutoff-scheme   = Verlet

;***
nstlist         = 20    ; Number of STeps between updating neighbour list
;ns_type         = grid  ; Not in documentation
rlist           = 1.4   ; Cut off distance for short range neighbour list

rcoulomb        = 1.4;** Distance for coulmb cut off
rvdw            = 1.4;** Distance for the LJ or Buckingham cut-off

; PME electrostatics parameters
coulombtype     = PME
;***
fourierspacing  = 0.12
fourier_nx      = 0
fourier_ny      = 0
fourier_nz      = 0
pme_order       = 4
ewald_rtol      = 1e-5
optimize_fft    = yes  ; Not in documentation
; Seem to be default values

; Berendsen temperature coupling is on in two groups
Tcoupl      = Nose-Hoover ;** Also gives tau-t different meaning
tc_grps     = Protein   ;Non-Protein
tau_t       = 1.0       ;1.0**
ref_t       = 310       ;310**
; Pressure coupling is no longer on
; Pcoupl          = Parrinello-Rahman

;***
; pcoupltype      = isotropic  ; Pressure coupling isotropy

; tau_p           = 1.0;**
; compressibility = 4.5e-5
; ref_p           = 1.0

;***
refcoord_scaling = com
; Generate velocities is off
gen_vel     = no
; Periodic boundary conditions are on in all directions
pbc     = xyz
; Long-range dispersion correction
DispCorr    = EnerPres


; Pull code
pull                    = yes
pull_ncoords            = 2         ; phi and chi
pull_ngroups            = 5         ; three common and two unique groups
pull_group1_name        = C0
pull_group2_name        = N
pull_group3_name        = CA
pull_group4_name        = C
pull_group5_name        = N2
pull_coord1_type        = umbrella  ; harmonic potential
pull_coord1_geometry    = dihedral
pull_coord1_dim         = Y Y Y
pull_coord1_groups      = 1 2 2 3 3 4
pull_coord1_start       = yes       ; define initial COM distance > 0
pull_coord1_rate        = 0.1     ; 0.01 degrees per ps = 10 degrees per ns
pull_coord1_k           = 1000       ; kJ mol^-1 rad^-2

pull_coord2_type        = umbrella  ; harmonic potential
pull_coord2_geometry    = dihedral
pull_coord2_dim         = Y Y Y
pull_coord2_groups      = 2 3 3 4 4 5
pull_coord2_start       = yes       ; define initial COM distance > 0
pull_coord2_rate        = 0.1     ; 0.01 degrees per ps = 10 degrees per ns
pull_coord2_k           = 1000       ; kJ mol^-1 rad^-2
